.App-Choropleth {
    width: 1920px;
    height: 1080px;
    padding: 1rem 2rem;
    background: linear-gradient(87deg, #c9ffbf 0, #ffafbd 100%) !important;
    display: flex;
    align-items: center;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}
.App-Choropleth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.App-chart-choropleth {
    height: 960px;

    p {
        text-align: center;
        font-size: 25px;
    }
}