* {
    font-family: 'BMHANNAPro';
    font-display: block;
}
.App-header {
    padding: 1rem 2rem;
    background: #38d9a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .h1 {
        color: #fff;
    }
}
.App-contents {
    padding: 1rem;
}
.App-chart {
    display: grid;
    grid-auto-flow: column;
}
.App-chart-confirmed {
    width: 960px;
    height: 480px;
}
.App-chart-compared {
    width: 720px;
    height: 480px;
}
.App-chart-bar {
    width: 960px;
    height: 720px;
}