.App-Choropleth {
    width: 1920px;
    height: 1080px;
    padding: 1rem 2rem;
    background: linear-gradient(87deg, #c9d6ff 0, #e2e2e2 100%) !important;
}
.App-Choropleth-container {
    p {
        text-align: center;
        font-size: 40px;
    }
}
.App-chart-choropleth {
    height: 1080px;
}